* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial;
  color: #4f5759;
  background-color: #f5f8fa;
}
.clearflx,
.clearflx{
    display: table;
    content: "";
    clear: both;
}
a {
  color: #3097d9;
  text-decoration: none;
}
h2{
    color: #1e3948;
    font-size: 14px;
}
.container {
  width: 1200px;
  margin: auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.container::after,
.row::after,
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.col-3 {
  float: left;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-6 {
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  margin-bottom: 30px;
  nav {
    background-color: #3097d1;
    border-bottom: 1px solid #1c73a5;
      .nav-a{
          background-color:#2578a7;
      }
    .logo {
      width: 85px;
      height: 23px;
      float: left;
      margin-right: 30px;
      margin-top: 17px;
    }
    ul {
      float: left;
      list-style: none;
    }
    ul::after {
      display: table;
      clear: both;
      content: "";
    }
    li {
      float: left;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      padding: 20px 15px;
      display: block;
      &:hover {
        background-color: #2578a7;
      }
    }
  }
}

/*
行高
文字颜色
下外边距
文字大小
字体

布局
*/
.content {
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  margin-bottom: 30px;
    background-color: #fff;
  section {
      
    border-bottom: 1px solid #d3e0e9;
    padding: 26px 15px;
    &:last-child{
      border-bottom: none;
    }
    .row {
      margin-left: -5px;
      margin-right: -5px;
        margin-top:20px;
        margin-bottom: 20px;
    }
    img {
      width: 50%;
      height: 213px;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
    .picOne{
      img{
        width: 100%;
        height: auto;
      }
    }
      strong{
          color: #1e3948;
      }
      p{
          line-height: 1.5em;
      }
      .pTwo{
          margin-bottom: 20px;
      }
  }
    h2 {
    a {
      color: #1e3948;
    }
  }
  span {
    float: right;
  }
}

.user {
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  margin-bottom: 30px;
  .user-header {
    height: 150px;
    background: url("../img/iceland.jpg");
    background-size: cover;
  }
  .user-content {
    text-align: center;
    margin-top: -50px;
    padding-left: 15px;
    padding-right: 15px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 16px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 1.5em;
      margin-bottom: 30px;
    }
  }
}

.about {
    background-color: #fff;
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  margin-bottom: 30px;
  padding: 15px;
  h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
}

.photos {
    background-color: #fff;
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  padding: 15px;
    margin-bottom: 30px;
  h2 {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
  img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}


.Sponsored{
    background-color: #fff;
    border: 1px solid #d3e0e9;
  border-radius: 2px;
  padding: 15px;
    margin-bottom: 30px;
    h2{
        margin-bottom: 15px;
    }
    img{
        width: 100%;
        margin-bottom: 10px;
    }
    h3{
        font-size: 16px;
    }
    p{
        line-height: 1.5em;
        margin-bottom: 10px;
    }
    a{
        display: inline-block;
        padding: 10px;
        border:#2a88bd 1px solid;
        color: #2a88bd;
        border-radius: 2px;
        &:hover{
            background-color: #2a88bd;
            color: #fff;
        }   
    }
}

.likes{
    border: 1px solid #d3e0e9;
  border-radius: 2px;
     h2 {
    margin-bottom: 15px;
    font-size: 14px;
    }
    .nt-likes{
        background-color: #fff;
        padding: 15px;
        border-bottom: 1px solid #d3e0e9;
        li{
            list-style: none;
            &:first-of-type{
                margin-bottom: 18px;
            }
        }
        
        img{
            width: 60px;
            height: 60px;
            border-radius: 30px;
            float: left;
            margin-right: 10px;
        }
        div{
            float: left;
        }
        p{
            line-height: 26px;
        }
        a{
        display: inline-block;
        padding: 8px 10px;
        border:#2a88bd 1px solid;
        color: #2a88bd;
        border-radius: 2px;
        font-size: 12px;
            &:hover{
                background-color: #2a88bd;
                color: #fff;
                i{
                background-position: 0 -12px;
                }
            }
            .likes-i{
            width: 14px;
            height: 12px;
            background-image: url(../img/likes.png);
                display: inline-block;
            }
        }
    }
    
    .likes-text{
        padding: 15px;
        background-color: #f5f8fa;
    }
}

footer{
    margin-top: 70px;
    border-top: 1px solid #cccccc;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    a{
        color: #3c97d1;
        &:hover{
            color: #6ac2f4;
        }
    }
    p{
        margin-bottom: 22px;
    }
    .footer-a{
        a{
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}
@media (max-width:1200px){
    .container {
    width: 960px; } 
    .content section img {
    height: 160px; } 
    .user .user-header {
    height: 130px; } 
}
@media (max-width:960px){
    .content section img {
    height: 120px; }
    .container {
    width: 720px; }
}
@media (max-width:720px){
    .container{
        width: 320px;
    }
    header nav .logo{
        width: 65px;
        height: 18px;
    }
    header nav a{
        padding-left: 8px;
        padding-right: 8px;
    }
    header nav .logo{
        margin-right: 10px;
    }
    .col-3 {
      clear: both;
      width: 100%;
    }
    .col-6 {
      width: 100%;
    }
    .content section img{
        height: 150px;
    }
    .photos .row .col-6{
        width: 50%;
    }
    footer .footer-a a{
        margin-left: 6px;
        margin-right: 6px;
    }
}

.profile-header{
    margin-bottom: 0px;
}
.banner{
    width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
    margin-bottom: 22px;
    background:url(../img/iceland.jpg) no-repeat;
    background-size: cover;
    .banner-box{
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }
    .profile-user{
        border: none;
        color: #fff;
    }
    .user .user-content{
        margin-top:0px;
        h2{
            font-size: 24px;
            color: #fff;
        }
        P{
            font-size: 14px;
            font-weight: bold;
        }
    }
    .user .user-content img{
        border: none;
    }
}

.col-4{
    width: 40%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.col-2{
    width: 20%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.profile-main{
    .row{
        margin-left: -5px;
        margin-right: -5px;
    }
    .pic{
        margin-bottom: 10px;
    }
    img{
        width: 100%;
        height: 232px;
    }
}
.pic:last-of-type{
    margin-bottom: 0px;
}
@media (max-width:1200px){
    .pic img{
        height: 184px;
    }
    .banner{
        padding-top: 90px;
        padding-bottom: 90px;
    }
}
@media (max-width:960px){
    .pic img{
        height: 136px;
    }
    .banner{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media (max-width:760px){
    .pic img{
        height: 56px;
    }
    .banner{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}



.docs-banner{
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 22px;
    background-color: #226e99;
    h2{
        font-size: 52px;
        color: #fff;
    }
    p{
        font-size: 24px;
        color: #add6ed;
        line-height: 34px;
    }
}
.col-8{
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.docs-main{
    .docs-box{
        h2{
            font-size: 32px;
            padding-bottom: 17px;
            color: #292b2c;
            border-bottom: 1px solid #d4dbe0;
            margin-bottom: 30px;
        }
        p{
            line-height: 1.5em;
            margin-bottom: 30px;
            font-size: 16px;
            color: #292b2c;
        }
        p:last-of-type{
            margin-bottom: 0px;
        }
        .docs-main-p{
            font-size: 20px;
        }
    }
    
    .col-2{
        padding-left: 15px;
        padding-right: 15px;
    }
    .docs-box2{
        padding-top: 22px;
        a{
            display: block;
            padding: 8px 20px;
            color: #3097d1;
            border-left: 2px solid #3097d1;
            margin-bottom: 12px;
            font-size: 14px;
            &:hover{
                border:none;
            }
        }
        p{
            padding-left: 20px;
            margin-bottom: 20px;
            font-size: 14px;
        }
    }
}
