*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: Arial;
}
ul{
    list-style: none;
}
.clearfix,
.clearfix{
    clear: both;
    content: "";
    display: table;
}
a{
    text-decoration: none;
}
.container{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}
header{
    border-bottom: 1px solid #dee0df;
    .nav-b{
            background-image:url(../images/header.png);
            height: 10px;
            width: 100%;
    }
    nav{
        .logo{
            padding:24px 30px;
            display: inline-block;
            border-right: 2px solid #dee0df;
            float: left;
            img{
                width: 121px;
                height: 32px;
            }
        }
        ul{
            float: left;
        }
        li{
            float: left;
        }
        li.active a{
            background-color: #f4645f;
            color: #fff;
        }
        a{
            display: block;
            padding:33.5px 46px;
            color: #525252;
            &:hover{
                background-color: #f4645f;
                color: #fff;
            }
        }
    }
}
 .row{
    margin-right: -15px;
    margin-left: -15px;
}
.col-3{
    width: 33.33%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.box{
    padding-top: 100px;
    h2{
        font-size: 42px;
        color: #dfdfdf;
        font-weight:inherit;
        margin-bottom: 50px;
        text-align: center;
    }
    h3{
        font-size: 18px;
        color: #aeaeae;
        font-weight:inherit;
        margin-bottom: 26px;
        text-align: center;
    }
    .biaoti{
        margin-top: 72px;
        margin-bottom: 62px;
        text-align: center;
        width: 100%;
        div{
            float: left;
            height: 1px;
            width: 38.46%;
            background-color: #dee0df;
            margin-top: 10px;
        }
        span{
            float: left;
            display: block;
            width:23.08%;
            color: #f4645f;
            text-align: center;
            font-weight: bold;
        }
    }
        .box1{
            color: #fff;
            div{
                padding-left: 30px;
                padding-right: 30px;
            }
            .h4{
                padding-top: 16px;
                padding-bottom: 16px;
                background-color: #f4645f;
                h4{
                    font-size: 22px;
                    font-weight: inherit;
                    line-height: 38px;
                }
            }
            img{
                float: right;
            }
            .p{
                padding-top: 18px;
                padding-bottom: 18px;
                background-color: #f5736f;
            }
            p{
                line-height: 2em;
            }
        }
        .box2{
            color: #fff;
            div{
                padding-left: 30px;
                padding-right: 30px;
            }
            .h4{
                background-color: #27b4a8;
                padding-top: 16px;
                padding-bottom: 16px;
                h4{
                    font-size: 22px;
                    font-weight: inherit;
                    line-height: 38px;
                }
            }
            img{
                float: right;
            }
            .p{
                padding-top: 18px;
                padding-bottom: 18px;
                background-color: #3cbbb1;
            }
            p{
                line-height: 2em;
            }
            
        }
        .box3{
            color: #fff;
            div{
                padding-left: 30px;
                padding-right: 30px;
            }
            .h4{
                background-color: #f4645f;
                padding-top: 16px;
                padding-bottom: 16px;
                h4{
                    font-size: 22px;
                    font-weight: inherit;
                    line-height: 38px;
                }
            }
            img{
                float: right;
            }
            .p{
                background-color: #f5736f;
                padding-top: 18px;
                padding-bottom: 18px;
            }
            p{
                line-height: 2em;
            }
        }
        .box4{
                
                border:1px solid #e5e5e5;
                color: #444444;
                padding: 14px 30px;
                
                span{
                    display: block;
                    line-height: 52px;
                    margin-bottom: 20px;
                }
                h4{
                    color: #575757;
                    font-size: 22px;
                }
                img{
                    float: right;
                }
            
                p{
                    line-height: 2em;
                }
        }
        .vecs{
            border-right: 1px solid #f0f1f3;
        }
        .box5{
            h5{
                font-size: 18px;
                color: #575758;
            }
            P{
                line-height: 2em;
            }
        }
        .box5:first-of-type{
            padding-bottom: 40px;
        }
        .vecs:last-of-type{
            border:none;
        }
}
.box:first-of-type{
    padding-bottom: 252px;
}
footer{
    margin-top: 80px;
    text-align: center;
    background-color: #fafafa;
    padding-top: 64px;
    padding-bottom: 50px;
    color: #c9c9c9;
    .footer-nav{
        margin-left: auto;
        margin-right: auto;
        a{
            color: #525252;
            float: left;
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 45px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media (max-width:1200){
    .container{
        width: 960px;
    }
}

@media (max-width:960px){
    .container{
        width: 720px;
    }
    header nav .logo{
        border:none;
    }
//    .box .box1 p{
//        min-height: 180px;
//        font-size: 12px;
//    }
//    .box .box2 p{
//        min-height: 180px;
//        font-size: 12px;
//    }
//    .box .box3 p{
//        min-height: 180px;
//        font-size: 12px;
//    }
//    .box .box1 .h4 h4{
//        font-size: 16px;
//    }
//    .box .box2 .h4 h4{
//        font-size: 16px;
//    }
//    .box .box3 .h4 h4{
//        font-size: 16px;
//    }
//    .box .box4 h4{
//        font-size: 13px;
//    }
//    .box .box4 p{
//        font-size: 12px;
//    }
//    .box .box4{
//        height: 220px;
//    }
}
@media (max-width:760px){
    .container{
        width:326px;
    }
    header nav .logo{
        border:none;
    }
    header nav a{
        padding: 20px 30px;
    }
    .col-3{
        width: 100%;
        margin-bottom: 30px;
    }
    .box .vecs{
        border: none;
    }
    .box .box5{
       padding-bottom: 40px;
    }
    .box .biaoti div{
        width: 20%;
        margin-top: 8px;
    }
    .box .biaoti span{
        width: 60%;
    }
    
    
}